<p id="notice"><%= notice %></p>

<p>
  <strong>Job title:</strong>
  <%= @job.job_title %>
</p>

<p>
  <strong>Job application:</strong>
  <%= @job.job_application_id %>
</p>

<%= link_to 'Back', jobs_path %>
