<p id="notice"><%= notice %></p>

<h1>Job Applications</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Candidate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= job_application.time %></td>
        <td><%= job_application.candidate_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

