<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @job_application.time %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @job_application.candidate_id %>
</p>

<%= link_to 'Back', job_applications_path %>
